// color variables

$color-primary: #e25a0c;
$color-secondary: #f4f6f9;
$color-secondary-light: #f8fafb;
$color-grey-light: #f2f2f2;
$color-text: #6c757d;
$color-white: white;

$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);