<div class="navbar-bg"></div>
<div class="navbar-nav">
  <label for="sidebar-toggle" class="nav-link" tabindex="0"><i class="fas fa-bars"></i></label>
  <span class="nav-link-brand">BOLD N BLIZZ</span>
</div>

