<input type="checkbox" name="theme-close" id="theme-close" />
<div class="theme">
  <div class="theme-container">
    <label for="theme-close" class="theme-close-btn">
      <i class="fa-solid fa-xmark"></i>
    </label>
    <header>
      <div class="theme-bg"></div>
      <div class="theme-head">
        <h2>Theme color changer</h2>
      </div>
    </header>
    <div class="theme-body">
      <div class="theme-inputs">
        <div class="brand-img">
          <input type="url" name="brand-img" class="brand-img-input" placeholder="Brand image/Image link">
          <div class="error-message">This image url is invalid</div>
        </div>
        <div class="theme-color">
          <div class="theme-color-input">
            <input
              type="text"
              placeholder="Primary theme color"
              id="theme-color-primary"
              name="theme-color-primary"
              class="theme-input-text"
              data-var="primary"
              value="#e25a0c"
            />
            <input
              type="color"
              class="theme-input-color"
              value="#e25a0c"
              data-var="primary"
            />
          </div>
        </div>
        <div class="theme-color">
          <div class="theme-color-input">
            <input
              type="text"
              placeholder="Secondary theme color"
              id="theme-color-secondary"
              name="theme-color-secondary"
              class="theme-input-text"
              data-var="secondary"
              value="#f4f6f9"
            />
            <input
              type="color"
              class="theme-input-color"
              data-var="secondary"
              value="#f4f6f9"
            />
          </div>
        </div>
        <div class="theme-color">
          <div class="theme-color-input">
            <input
              type="text"
              placeholder="Theme text color"
              id="theme-color-text"
              name="theme-color-text"
              class="theme-input-text"
              data-var="text"
              value="#4c5156"
            />
            <input
              type="color"
              class="theme-input-color"
              value="#4c5156"
              data-var="text"
            />
          </div>
        </div>
        <div class="theme-color">
          <div class="theme-color-input">
            <input
              type="text"
              placeholder="Theme heading color"
              id="theme-color-head"
              name="theme-color-head"
              class="theme-input-text"
              data-var="head"
              value="#34395e"
            />
            <input
              type="color"
              class="theme-input-color"
              value="#34395e"
              data-var="head"
            />
          </div>
        </div>
        <div class="theme-color">
          <div class="theme-color-input">
            <input
              type="text"
              placeholder="Theme black color"
              id="theme-color-black"
              name="theme-color-black"
              class="theme-input-text"
              data-var="black"
              value="#000000"
            />
            <input
              type="color"
              class="theme-input-color"
              value="#000000"
              data-var="black"
            />
          </div>
        </div>
        <div class="theme-color">
          <div class="theme-color-input">
            <input
              type="text"
              placeholder="Theme white color"
              id="theme-color-white"
              name="theme-color-white"
              class="theme-input-text"
              data-var="white"
              value="#ffffff"
            />
            <input
              type="color"
              class="theme-input-color"
              value="#ffffff"
              data-var="white"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
