.table-responsive {
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
}

table {
  caption-side: bottom;
  margin: 0 !important;

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border: 0 solid inherit;
  }
}

.table {
  color: inherit;
  font-size: 11px !important;

  & > thead {
    vertical-align: bottom;

    th {
      border-bottom: none;
      background-color: rgba($color-black, 0.04);
      padding: 15px 0;
    }
  }

  tbody {
    vertical-align: inherit;
  }

  td,
  &:not(.table-bordered) th {
    border-top: none;
  }

  &.table-bordered {
    td,
    th {
      border-color: $color-secondary-light;
    }

    > :not(caption) > * {
      border-width: 1px;
    }
  }

  &:not(.table-sm):not(.table-md):not(.dataTable) {
    td,
    th {
      padding: 0 25px;
      height: 60px;
      vertical-align: middle;
    }
  }

  > :not(:last-child) > :last-child > * {
    border-bottom-color: currentColor;
  }
}

.th-datatable {
  white-space: nowrap;
  background-color: $color-secondary !important;
  border: none;
  color: inherit !important;
  transition: 0.3s;
  font-size: 0.6rem;
}

tbody tr td {
  color: $color-text;
  &:nth-child(1) {
    text-align: center;
  }

  &:nth-child(2) {
    color: $color-primary;
    cursor: pointer;
  }

  &:nth-child(5) {
    min-width: 8rem;
  }
}

.click-th {
  cursor: pointer;
  &:hover {
    background-color: rgba($color-black, 0.1) !important;
  }
}

.bg-color {
  background-color: rgba($color-black, 0.1) !important;
}

.click-arrow {
  margin: 7px;
  font-size: 0.8rem;
  color: $color-primary;
}
